<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title>Register</title>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src="@{/js/dynaRDrop.js}"></script>
</head>

<div layout:fragment="page_content" id="page_content"
	class="container h-100 bg-white overflow-hidden">


	<!-- NEW REGISTRATION FORM -->

	<div class="row align-items-center h-100">
		<div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
			<div class="card my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Add Cars</h5>
					<form th:action="@{/user/addcars}" th:object="${car}" method="post" enctype="multipart/form-data">
						<div class="row form-row px-0">
							<div class="form-group col-lg-4">
								<label for="make">Make:</label> <select id="make" name="make"
									class="form-control" required>
									<option value="">Select...</option>
									<option th:each="make:${makeList}" th:value="${make}"
										th:text="${make.key}"></option>
								</select>
							</div>


							<div class="form-group col-lg-4">
								<label for="model">Model:</label> <select id="model"
									name="model" class="form-control" required>
									<option value="">Select...</option>
								</select>
							</div>

							<div class="form-group col-lg-4">
								<label for="make">Year:</label> <select id="makeYearId"
									name="makeYear" class="form-control" required>
									<option value="">Select...</option>

								</select>
							</div>
							<div class="form-group col-lg-4">
								<label for="make">Transmission:</label> <select
									id="transmission" name="transmission" class="form-control"
									required>
									<option value="">Select...</option>

								</select>
							</div>
							<div class="form-group col-lg-4">
								<label for="make">Fuel Type:</label> <select id="fuelType"
									name="fuelType" class="form-control" required>
									<option value="">Select...</option>

								</select>
							</div>
						</div>

						<div class="row form-row px-0">
							<div class="form-group col-lg-6">
								<label for="inputKilometers">Kilometers driven</label> <input
									type="text" id="kilometers" name="kilometers"
									class="form-control" placeholder="Kilometers" required
									autofocus>
							</div>



							<div class="form-group col-lg-6">
								<label for="inputOwner">Owner</label> <input type="text"
									id="ownerId" name="onwer" class="form-control"
									placeholder="1st Owner or 2nd Owner" required>
							</div>

						</div>
						<div class="row form-row px-0">
							<div class="form-group col-lg-4">
								<label for="inputPrice">Price</label> <input type="text"
									id="priceId" name="price" class="form-control"
									placeholder="Price in Rs" required>
							</div>
							<div class="form-group col-lg-4">
								<label for="inputRegistration">Registration Year</label> <input
									type="text" id="registrationYearId" name="registrationYear"
									class="form-control" placeholder="Registration Year" required>
							</div>
							<div class="form-group col-lg-4">
								<label for="inputRTO">RTO</label> <input type="text" id="rtoId"
									name="rto" class="form-control" placeholder="RTO" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="files">Upload Multiple
								Files:</label> <input type="file" class="form-control" id="files"
								placeholder="Upload Multiple Files" name="files" multiple></input>
						</div>
						<button class="btn btn-lg btn-google btn-block text-uppercase"
							type="submit">
							<i class="fas fa-user-circle mr-2"></i> Register
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>




	<!-- 	<form th:action="@{/user/registration}" th:object="${client}" method="post"> -->
	<!-- 		<div class="form-group form-row mt-5"> -->
	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="name">First Name </label> -->
	<!-- 				<input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter your name" required> -->
	<!-- 			</div> -->

	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="surname">Last Name </label> -->
	<!-- 				<input type="text" class="form-control" id="surname" name="surname" aria-describedby="surnameHelp" placeholder="Enter your last name" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->

	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-12"> -->
	<!-- 				<label for="address">Address</label> -->
	<!-- 				<input type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp" placeholder="Enter your postal address" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="city">City </label> -->
	<!-- 				<input type="text" class="form-control" id="city" name="city" aria-describedby="cityHelp" placeholder="Enter your city" required> -->
	<!-- 			</div> -->

	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="postCode">Postal Code </label> -->
	<!-- 				<input type="text" class="form-control" id="postCode" name="postCode" aria-describedby="postCodeHelp" placeholder="Enter your postal Code number" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-12"> -->
	<!-- 				<label for="country">Country</label> -->
	<!-- 				<input type="text" class="form-control" id="country" name="country" aria-describedby="countryHelp" placeholder="Enter your country" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="phoneNumber">Phone Number </label> -->
	<!-- 				<input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="Enter your phone number" required> -->
	<!-- 			</div> -->

	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="idNumber"> ID Number </label> -->
	<!-- 				<input type="text" class="form-control" id="idNumber" name="idNumber" aria-describedby="idNumberHelp" placeholder="Enter your ID number" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->

	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-12"> -->
	<!-- 				<label for="email">E-mail</label> -->
	<!-- 				<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your e-mail"> -->
	<!-- 			</div> -->
	<!-- 		</div> -->

	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-6"> -->
	<!-- 				<label for="userName">Username</label> -->
	<!-- 				<input type="text" class="form-control" id="userName" name="userName" aria-describedby="userNameHelp" placeholder="Enter username" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 		<div class="form-group form-row"> -->
	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="password">Password</label> -->
	<!-- 				<input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password" aria-required="true" required> -->
	<!-- 				                <p id="passwordHelp" class="form-control">Password should be XX characters</p> -->
	<!-- 			</div> -->
	<!-- 			<div class="col-12 col-md-6"> -->
	<!-- 				<label for="passwordConfirmed">Confirm password</label> -->
	<!-- 				<input type="password" class="form-control" id="passwordConfirmed" aria-describedby="passwordConfirmedHelp" placeholder="Confirm password" aria-required="true" required> -->
	<!-- 			</div> -->
	<!-- 		</div> -->

	<!-- 		<div class="form-check"> -->
	<!-- 			<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required> -->
	<!-- 			<label class="form-check-label" for="defaultCheck1"> I will be 18 years or oder at the time of the rental. </label> -->
	<!-- 		</div> -->

	<!-- 		<div class="col-12 text-center mt-3 mb-5"> -->
	<!-- 			<button type="submit" class="btn btn-lg">Register</button> -->
	<!-- 		</div> -->
	<!-- 	</form> -->

</div>

<th:block layout:fragment="scripts">
	<script type="text/javascript">
		console.log('Hello World');
	</script>
</th:block>